@import "tailwindcss";

@theme {
  --color-brand-green: #22c55e;
  --color-brand-green-light: #dcfce7;
  --color-brand-dark: #0f172a;
  --color-brand-cream: #f5f0e8;
  --color-brand-gray: #828282;
  --font-inter: var(--font-inter);
}

